.checkbox {
    cursor: pointer;
}

.checkbox span {
    display: inline-block;
    margin-left: 36px;
}

.checkbox input {
    margin: 0;
    cursor: pointer;
    position: absolute;
}

.checkbox input:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #888;
    background-color: black;
}

.checkbox input:hover:before {
    background: #333;
}

.checkbox input:focus:before {
    border-color: white;
}

.checkbox input:disabled {
    color: #b8b8b8;
    cursor: auto;
}

.checkbox input:disabled:before {
    background: #ddd;
}

.checkbox input:checked:after {
    content: "✔";
    position: absolute;
    font-size: 17px;
    left: 7px;
    top: 0px;
}